# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
public/pdfs/Recursos-humanos/POAIs 2026 APROBADO.pdf

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
