@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  /* 🔥 CAMBIA ESTOS COLORES Y SE ACTUALIZA TODO EL SITIO */
    --senado-primary: #5b0a14;
    --senado-primary-light: #8f1522;
    --senado-primary-dark: #3a060d;

    /* Paleta Gold / Cream */
    --senado-gold-lightest: #fcfcf8;
    --senado-gold-lighter: #f9f7ee;
    --senado-gold-soft: #f9f7eb;
    --senado-gold-light: #ece4c7;
    --senado-gold: #e9e0be;
    --senado-gold-dark: #daca8f;

    /* Paleta Neutral / Dark (de más claro a más oscuro) */
    --senado-dark-light: #d9dada;
    --senado-dark: #000001;
  }

  html {
    font-family: 'Roboto', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }
}

